.add_gift_container {
    position: absolute;
    width: 80%;
    left: 10%;

}

.title {
    padding: 0vw;
    top: 5vw;
    position: relative;
}

.form {
    position: relative;
    width: 70%;
    left: 15%;
    font-size: 2vw;
    justify-content: space-between;
    padding: 2vw;
    color: black;
}


.inline_wrapper {
    font-size: 2vw;
    bottom: 0px;
    width: 100%;
    /* justify-content: space-between; */
}

.input {
    height: 1vw;
    padding: 1.5vw;
    width: 100%;
    position: relative;
    top: .4vw;
    font-size: 1.7vw;
    /* border-radius: 10px; */
    padding-left: 1.5vw;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    z-index: 2;
    background-color: rgba(0,0,0,0);

}


.input_long {
    font-family: inherit;
    /* height: 220vw; */
    width: 100%;
    min-width: 72%;
    /* max-width: none; */
    min-height: 3vw;
    max-height: 3vw;
    background-color: rgba(0,0,0,0);
    position: relative;
    font-size: 1.7vw;
    /* border-radius: 10px; */
    padding-left: 1.5vw;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    overflow-y: hidden;
    z-index: 2;
    top: .7vw;
}


.input_title {
    position: relative;
    text-align: left;
    bottom: -2vw;
    width: 100%;
}

.input_option {
    /* width: 2vw; */
    position: relative;
    justify-content: right;
    text-align: right;
    /* right:px; */
    bottom: -2vw;
    font-size: 1.5vw;
    opacity: 80%;
    padding-left: 1vw;
}

.warning {
    position: relative;
    width: 100%;
    font-size: 1.5vw;
    justify-content: space-between;
    color: red;
}


.go_button {
    height: 5vw;
    width: 100%;
    position: relative;
    font-size: 2vw;
    border-radius: 10px;
    border: 1px solid black;
}

.go_button:hover {
    background-color: #c5c5c5;
    border: 3px solid black;
}

.login_signup_wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.login_container {
    height: auto;
    width: 80%;
    left: 10%;
    font-size: 3vw;
    box-shadow: 0 0 20px #888888;
    position: relative;
    z-index: 10000;
    border-radius: 10px;
    text-decoration: none;
}

.login_text {
    text-decoration: none;
    color: black;
}

.login_text:hover {
    text-decoration: none;
    color: black;
}

.gift_added {
    /* border: 2px solid black; */
    /* background-color: rgb(57, 176, 57); */
    padding: auto;
    position: relative;
    /* top: -20vw; */
    left: 5%;
    width: 90%;
    padding: 2vw;
    /* height: 8vw; */
    z-index: 1000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gift_added_after {
    /* border: 2px solid rgba(0, 0, 0, 0); */
    /* color: rgba(0, 0, 0, 0); */
    /* background-color: rgba(57, 176, 57, 0); */
    padding: auto;
    position: relative;
    /* top: -20vw; */
    left: 5%;
    width: 90%;
    padding: 2vw;
    /* height: 8vw; */
    z-index: 1000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* z-index: -1; */
    opacity: 0%;
    transition: 2s ease-in;
}

.label {
    position: absolute;
    z-index: 1;
    color: rgb(112, 112, 112);
    font-size: 1.7vw;
    margin-top: 1vw;
    margin-left: 1.5vw;
    transition: .2s ease-out;
    z-index: 1;
}

.label_float {
    position: absolute;
    z-index: 1;
    color: rgb(112, 112, 112);
    font-size: 1vw;
    margin-top: -1vw;
    margin-left: 1.5vw;
    transition: .2s ease-out;
}