.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_unit {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    padding: 1vw;
    transition: .2s;
}


.nav_unit:hover {
    font-weight: 500;
    /* opacity: 90%; */
    /* background-color: rgb(136, 136, 136); */
    border-top: 1px solid rgb(6, 6, 6);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transition: .2s;
}
