.page_container{
    /* position: relative; */
    background-color: rgb(69, 69, 69);
    color: black;
    /* fill: aquamarine; */
    width: 100%;
    height: 100%;
    z-index: 200;
    
}


.left_element_wrapper{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    fill: aquamarine;
    width: 50%;
    left:0px;
    height: 100%;
    z-index: 200;
    /* display: inline; */
}

.left_element_wrapper{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    fill: aquamarine;
    width: 50%;
    left:0px;
    height: 100%;
    z-index: 200;
    /* display: inline; */
    transition:1s;

}

.right_element_wrapper{
    position: absolute;
    background-color: rgb(249, 249, 249) ;
    color: black;
    /* fill: aquamarine; */
    width: 50%;
    right:0px;
    height: 100%;
    z-index: 200;
    /* display: inline; */
    transition:1s;

}


.left_element_wrapper2{
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* fill: aquamarine; */
    width: 50%;
    /* left:-50vw; */
    height: 100%;
    z-index: 200;
    /* display: inline; */
    /* transition:3s; */
}

.right_element_wrapper2{
    position: absolute;
    background-color: rgb(249, 249, 249) ;
    color: black;
    /* fill: aquamarine; */
    width: 100%;
    right:0px;
    height: 100%;
    z-index: 200;
    /* display: inline; */
    transition:1s;
}




.centering_unit {
    position:relative;
    top:30%;
    font-size: 5vh;
    padding: 5%;
    /* transition: 3s; */

}




.home_divider{
    position: absolute;
    /* background-color: aquamarine fill;
    color: black;
    fill: aquamarine; */
    width: 1%;
    border-radius: 30px;
    border: 4px solid rgb(157, 157, 157);
    left:49.5%;
    height: 100vh;
    z-index: 300;
    /* display: inline; */

}



.home_divider2{
    position: absolute;
    /* background-color: aquamarine fill;
    color: black;
    fill: aquamarine; */
    width: .5%;
    border-radius: 30px;
    border: 4px solid white;
    left:49.75%;
    height: 99.3vh;
    top:.2vh;
    z-index: 300;
    /* display: inline; */

}

.gift_header {
    color: rgb(255, 255, 255);
    z-index: 10000;
    font-size: 5vw;
    display:flex;
    justify-content: space-between;
}

.gift_header_container {
    width: 100%;
    height: 100%;
    padding: 2vw;
    background-color: rgb(0, 0, 0);
}