

.table {
    width: 100%;
    /* max-width: 70%; */
    height: 20vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin: 4 auto;
    overflow-x: auto;
    border-spacing: 100;
    border-width: 100px;
    background-color: rgb(141, 203, 250);
    /* border: 35px; */
    border-color: black;
    /* border-collapse: collapse;
    border-spacing: 10;
    justify-content: center;
    text-align: center; */

    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;

  }


/*
  .wrapper {
      width: 100%;
        align-items: flex-end;
  }

.cell{
    text-align: left;
    border: 01px solid black;
} */
