.vc {
  position: relative;
  z-index: 1010;
}

.item_before {
  font-style: normal;
  position: relative;
  z-index: 1010;
  transition: 3s;
  right: -100vw;
  opacity: 0;
}

.item_after {
  font-style: normal;
  font-weight: 200;
  position: relative;
  z-index: 1010;
  transition: 3s;
  right: 0px;
}
