


.social_container {
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    color: inherit;
    /* color: red; */
    justify-content: center;
    background-color: inherit;
}

.social {
    z-index: 10000;
    display: flex;
    /* position: static; */
    /* padding: 1vw; */
    padding: 3px;
    color: inherit;
    font-size: 2vw;
    flood-color: black;
    stroke: aliceblue;
    fill: black;
    top: 50%;
    padding-top: 15px;
    opacity: 70%;

    /* width: 100%; */
}

.social:hover {
    opacity: 100%;
}
