


 .buttonr {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5vw;
    /* padding: 10px; */
    width: 9vw;
    height: 5vh;    
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /* -webkit-animation: falling 5s 0s infinite; */
    z-index: 100;

  }

  .buttonr span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    z-index: 100;

  }

  .buttonr span:after {
    /* content: '\00bb'; */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.1s;
    z-index: 100;

  }

  .buttonr:hover span {
    /* padding-right: 100px; */
    margin-left: -2vw;
    z-index: 100;
  font-size: 1.7vw;

  }

  .buttonr:hover span:after {
    opacity: 1;
    right: 0;
    z-index: 100;

  }





 .buttonl {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5vw;
    /* padding: 10px; */
    width: 9vw;
    height: 5vh;    
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    /* -webkit-animation: falling 5s 0s infinite; */
    z-index: 100;

}

.buttonl span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  z-index: 100;
  /* font-size: larger; */

}

.buttonl span:after {
  /* content: '\00ab'; */
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.1s;
  z-index: 100;
  font-size: larger;
  font-size: 10vw;


}

.buttonl:hover span {
  margin-right: -2vw;
  z-index: 100;
  font-size: 1.7vw;

}

.buttonl:hover span:after {
  opacity: 1;
  left: 0;
  z-index: 100;

}





.carousel {
  display: inline-flex;
  flex-direction:row;
  position: relative;
  width: 100%;
  top: 6vw;
  /* width: 100%; */
  /* height: auto; */
  /* overflow: hidden; */
  /* position: sticky; */
  /* transition: transform 2s ease; */
  /* padding: 0px; */
  /* margin: 20px; */
}

.carousel_element {
  top: 3em;
  z-index: 1000;
  position: absolute ;
  width: 75%;
  margin-top:3vw;
  /* height: 30vh; */
  /* width: 100px; */
  /* top: 0;
  left: 0; */
  /* width: 80vw; */
  /* height: 20vh; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  color: white;
  transition: left 3s ease;
  /* padding: 10px; */
  /* margin: 10px; */
  padding: 4vw;
  border-radius: 20px;
  border: 10px solid;
}
/* 
.button{
  background-color: #eb5c00;
  height: 6vw;
  width: 12vw;
  transition: .3s;
  position:relative;
  padding-left: 10vw;
  padding-right: 10vw;


}

.button:hover{
  background-color: #eb5c00;
  height: 6vw;
  width: 14vw;
  transition: .3s;

}

.button:active{
  background-color: #eb5c00;
  height: 6vw;
  width: 14vw;
  transition: .3s;

} */



@media only screen{
  .carousel_element {
    top:10vh;
    font-size: 2vh;
  }
}
