

.jobs_wrapper {
    /* color:azure; */
    z-index: 999;
    /* width: 80%; */
    /* height: 50%; */
    justify-content: center;
    position: relative;
    /* left: 10%; */
    top: 0vw;
    /* border: 3px solid red; */
    margin-top: 5vh;
    border-radius: 10px;
    margin-bottom: 5vh;
    /* background-color:aqua; */
    transition: .1s;
    /* padding-bottom: 25vw; */
}

.jobs_container {
    z-index: 999;
    width: 80%;
    /* height: 50%; */
    justify-content: center;
    position: relative;
    left: 10%;
    top: 0vw;
    /* border: 3px solid rgb(68, 0, 255); */
    border-radius: 10px;
    /* margin-bottom: 2vw; */
    /* background-color:aqua; */
    transition: 2s;
    /* padding-bottom: 10vh; */
    /* background-color: black;; */

}


.details_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* justify-content:center; */
    top: -1vw;
    left: -.5%;
    width: 101%;
    /* left:0%; */
    font-size: 1.5vw;
    border: 3px solid rgb(60, 60, 60);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    border-radius: 20px 20px 0 0;
    margin-top: 10vw;
    height: 15vw;
    transition: 1.5s;
    background-color: black;
    color: white;
    z-index: 100;
    transition: 2s;

}

.details_mini_header {
    text-align: left;
    padding-left: 3vw;
    font-size: 2vw;
}

.skill_units {
    text-align: left;
    padding-left: 2vw;

}


/* .details_header :hover {
    opacity: 50%;
} */

.logo_container {
    position: absolute;
    z-index: 1000;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 15vw;
    border-radius: 10px;
    overflow: hidden;
    opacity: 100% !important;
    box-shadow: none;
    /* transition: .5s; */
    border: 5px solid rgb(60, 60, 60);
    border-top: 0px solid rgb(0, 0, 0);
    opacity: 100%;
    /* transition: 2s; */

    /* top: 10vh; */
}


.logo {
    width: 100%;
    /* height: auto; */
    z-index: 0;
    position: absolute;
    left: 0;

    /* transform: translate(-50%, -50%); */
    /* top: -7vh; */
    /* height: auto; */
    /* width: auto; */
    /* margin-top: -5.5em;
    margin-bottom: -5em; */
    /* transition: 2s; */
}

.arrow {
    width: 100%;
    /* height: 20vw; */
    height: 100%;
    z-index: 10020;
    /* margin-top: -9vw; */
    position: absolute;
    opacity: 0%;
    transition: .5s;
}



.arrow:hover {
    /* margin-top:3vw; */
    background-color: rgba(0, 0, 0, 0.299);
    padding-top: 10vw;
    transition: 1s;
    opacity: 100%;
}

.arrow_down {
    /* transform: rotate(0); */
    transition: transform 0s;
}

.arrow_up {
    transform: rotate(180deg);
    transition: transform 0s;
}

.work_details_closed {
    position: relative;
    top: -30vw;
    height: auto;
    left: -.5%;
    width: 101%;
    color: rgba(0, 0, 0, 0);
    /* display: none; */
    /* visibility: collapse; */
    /* margin-bottom: 20vh;  */
    margin-top: 5vw;
    /* transition: 1.5s; */
    margin-bottom: 8vw;
    padding-bottom: 8vw;
    border: 3px solid rgba(0, 0, 0, 0);
    /* border-top: 0px solid rgb(0, 0, 0); */
    border-radius: 0 0 20px 20px;
    padding: 1vw;
    /* display:none; */
    /* font-display:none; */
    /* display:block; */
    /* background-color: rgba(0, 0, 0, 0); */
    z-index: -1;
    /* display:none; */
    transition:  color .6s ease-out, height 1s, top 1s, border .5s ease-out, z-index 0s 5s;

}


.work_details_open {
    position: relative;
    top: 2vw;
    height: auto;
    left: -.5%;
    width: 101%;

    /* display: block; */
    padding-top: 5vw;
    margin-top: 5vw;
    border: 3px solid rgb(60, 60, 60);
    border-top: 0px solid rgb(0, 0, 0);
    border-radius: 0 0 20px 20px;
    padding: 1vw;
    transition:  color 1s ease-in, height 1s, top 1s, border 1.5s ease-in;
}



.details_header_units {
    padding: 3vw;
    font-size: 2vw;
    /* text-decoration: none; */
    color: white;

}

.work_bullets {
    /* justify-content: left; */
    text-align: left;
    font-size: 1.5vw;
    /* transition: 1s;  */

}

