.login_container{
    height: 40vw;
    width: 60%;
    left:20%;
    /* justify-content: center; */
    position:relative;
    z-index: 10000;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}

/* .login_container:hover{
    opacity: 60%;
    text-decoration: none;

} */

.login_text{
    text-decoration: none;
    color: black;
}

.login_text:hover{
    text-decoration: none;
    color: black;
}
