.login_container{
    height: auto;
    width: 10vh;
    z-index: 10000;
    background-color: rgb(234, 234, 234);
    text-decoration: none;
    position:relative;
    top: 8px;
    justify-content: center;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;

}

.login_container:hover{
    opacity: 60%;
    text-decoration: none;

}

.login_text{
    text-decoration: none;
    color: black;

}

.login_text:hover{
    text-decoration: none;
    color: black;
}
