.btn {
    display: block;
    margin: 100px 0;
    background-color: #00A4BD;
   color: #FFFFFF;
 }



.tomatoButton {
    display: block;
    margin: 5px 0;
    background-color: #00A4BD;
    color: #FFFFFF;
    z-index: 100;
    /* width: 100px;
    height: 100px;
    background: red;
    border-radius: 100px / 80px; */
}

 /* .form {
    display: block;
    margin: 100px 0;
    background-color: #00A4BD;
    color: #ff0404;
 } */

 .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #6232ff;
    border: none;
    color: #FFFFFF;
    /* text-align: center; */
    font-size: 2.6vw;
    padding: 10px;

    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 5px;
    /* -webkit-animation: falling 5s 0s infinite; */
    z-index: 100;

  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    z-index: 100;

  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    z-index: 100;

  }

  .button:hover span {
    padding-right: 3vw;
    z-index: 100;

  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
    z-index: 100;

  }
