.master {
    background-color: rgb(3, 6, 23);
    color: rgb(197, 197, 197);
    z-index: 900;
    /* position: static; */
    /* overflow: auto; */
    /* height: 150%; */
    overscroll-behavior: none;
}

.mini_master {
    position: relative;
    width: 70vw;
    margin: 0 auto;
    min-width: 400px;
    max-width: 1500px;

}

.title {
    position: relative;
    bottom: -8vw;
    font-weight: 200;
    z-index: 500;
}


.image {
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    left: 0;
    border-radius: 30px;
    /* top: -7vh; */
    /* height: auto; */
    /* width: auto; */
    top: -10vw;
    /* margin-top: -4em; */
    margin-bottom: -20vw;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.31);
    z-index: 1010;


}

.image_container {
    top: 18vw;
    width: 45%;
    position: relative;
    /* box-shadow: 0 0 20px 20px white; */

}

.video {
    z-index: 1;
    width: 70vw;
    height: 39.2 vw;
    /* height: auto; */
    /* position: absolute; */
    padding-top: -10vw;

    left: 0;
    /* min-width: 400px;
    max-width: 1500px;
    min-height: 224;
    max-height: 840; */
    /* background-color: ; */
    /* top: vh; */
    /* height: auto; */
    /* width: auto; */
    /* margin-top: vw; */
    /* margin-bottom: -30px; */
    /* bottom: auto; */
    overflow: hidden;

}


.video_inner {
    z-index: 1;
    width: 70vw;
    height: 39.2 vw;
    /* height: auto; */
    /* position: absolute; */
    padding-top: -10vw;

    left: 0;
    /* min-width: 400px;
    max-width: 1500px;
    min-height: 224;
    max-height: 840; */
    overflow: hidden;
    padding: -10vw;
}

.image_text {
    z-index: 1010;
    width: 40%;
    position: relative;
    /* font-size: 3vw; */
    text-align: left;
    justify-content: left;
    /* top: 10%; */
    /* left: 55%; */
    /* left: calc(100% - 50%); */
    /* padding: 5px; */
    height: 25vw;
    left: -3%;
    /* color: black; */
    top: 8vw;
    z-index: 1010;
    /* color:rgb(0, 187, 224) */
}

.image_text_center {
    z-index: 100;
    width: 80%;
    position: absolute;
    left: 10%;
    /* font-size: 3vw; */
    text-align: center;
    justify-content: center;
    /* top: 10%; */
    font-weight: 520;
    /* left: 50%; */
    padding: 5px;
    color: white;
    top: 5em;
    /* top: 500px; */
    z-index: 1010;

}

.scroller {
    top: 10vw;
    position: relative;
    height: 10vw;
    width: 5%;
    z-index: 200;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 3s;
    /* overflow: hidden; */
    margin: 2vw;

}


.scroller_inner_state1 {
    position: absolute;
    font-size: 3vw;
    height: 60vw;
    width: 100%;
    color: linear-gradient(to bottom, rgba(5, 8, 116, 10) 30%, rgba(20, 98, 154, 10) 60%, rgba(29, 168, 87, 10) 100%);
    /* background-color: rgba(0,0,255,20); */
    transition: 1s;
    opacity: 0%;

}


.scroller_inner_state2 {
    font-size: 3vw;

    position: absolute;
    height: 100%;
    width: 100%;
    color: linear-gradient(to bottom, rgba(5, 8, 116, 100) 30%, rgba(20, 98, 154, 100) 60%, rgba(29, 168, 87, 100) 100%);
    background-size: 100%;
    background-position: left;
    transition: 2s;
    opacity: 100%;

}

/* 
.scroller_inner:hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(5, 8, 116,100) 30%, rgba(20, 98, 154,100) 60%, rgba(29, 168, 87,100) 100%);
    background-size: 100%;
    background-position: left;
    transition: 2s;
} */


.text_left {
    z-index: 100;
    width: 45%;
    position: relative;
    font-size: 3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: 10%;
    padding: 5px;
    color: white;
    z-index: 1010;

}


.text_right {
    z-index: 100;
    width: 35%;
    position: relative;
    font-size: 3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: calc(100% - 40%);
    padding: 5px;
    color: white;
    z-index: 1010;

}

.text_center {
    z-index: 100;
    width: 35%;
    position: relative;
    font-size: 3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: calc(100% - 40%);
    padding: 5px;
    color: rgba(255, 255, 255, 0);
    z-index: 1010;

}



.box {
    /* background-color: #000000;

    width: 100%;

    z-index: 10000; */
}

.button_left {
    text-align: left !important;
}


.list {
    /* text-align: left; */
    padding: 5%;
    /* display: inline-flex; */
    width: 50%;
    font-size: 2vw;
    /* position:absolute; */
    margin: 0 auto;
}



.list_container {
    /* text-align: left; */
    padding: 5%;
    display: inline-flex;
    width: 100%;
    height: 30vw;
    font-size: 2vw;
    /* margin: 0 auto; */
    position: relative;
}


.list_header {
    font-size: 3vw;
    font-weight: 300;
}

.ind_list {
    max-width: 50%;
    text-align: left;
    padding: 5%;
    font-size: 2vw;
}

/* .caro {
    justify-content: left !important;
} */

.hov_catch {
    position: relative;
    /* opacity: 65% !important; */
    /* box-shadow: 8px 8px 8px 8px rgb(119, 119, 119), 0 6px 6px 0 rgb(110, 110, 110); */
    box-shadow: 0 0 20px rgb(255, 255, 255)
}


.hov_catch:hover {
    opacity: 65% !important;
    /* box-shadow: 8px 8px 8px 8px rgb(119, 119, 119), 0 6px 6px 0 rgb(110, 110, 110); */
    box-shadow: 0 0 20px rgb(255, 255, 255)
}

.app_module_center {
    position: absolute;
    z-index: 400;
    /* top: 30%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 15vw;
    border-radius: 20px;
    overflow: hidden;
    opacity: 100% !important;
    box-shadow: none;


}

.app_module_center:hover {
    opacity: 100% !important;
    /* box-shadow: none; */
    box-shadow: 0 0 20px rgb(255, 255, 255)
}


.app_module_center_title {
    position: sticky;
    z-index: 500;
    color: black;
    font-size: 4vw;
    top: 30%;
    justify-content: center;
    opacity: 100% !important;
    box-shadow: none;

    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 50vw;
    height: 15vw; */
    /* border-radius: 10px;
    overflow: hidden; */
}

.app_module_center_title:hover {
    opacity: 100% !important;
    box-shadow: none !important;

}


.video_button {
    z-index: 100;
    margin-top: -4em;
    margin-bottom: -30px;
    /* bottom: auto; */
    opacity: 100% !important;
    box-shadow: none;
}

.app_module_center_wrapper {
    position: absolute;
    z-index: 450;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 15vw;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0%;
    background-color: black !important;
    box-shadow: none;
}


.app_module_center_wrapper:hover {
    /* background-color: #eb5c00; */
    /* fill: black;
    z-index: 410; */
    opacity: 20%;
    /* box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255); */

    transition: .1s;
}


/* .app_module_center_title  :hover {
    opacity: 100% !important;
    transition: .1s;
} */


/* .hover_catch{
    opacity: 100% !important;
}

.hover_catch :hover{
    opacity: 40% !important;
    box-shadow: outset 100px 100px 100px 100px white;
    transition: .1s;
} */

.jobs {
    position: absolute;
    z-index: 400;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 15vw;
    border-radius: 10px;
    overflow: hidden;
    opacity: 100% !important;
    box-shadow: none;
}


.logo {
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
    left: 0;
    /* transform: translate(-50%, -50%); */
    /* top: -7vh; */
    /* height: auto; */
    /* width: auto; */
    /* margin-top: -5.5em;
    margin-bottom: -5em; */
}

/*
.contact_wrapper {
    transition: 1s;
} */

.contact_element {
    /* font-size: 4vw; */
    transition: .2s;
    opacity: 80%;
    border: 3px white;
    z-index: 1000;
}

.contact_element:hover {
    /* font-size: 5vw; */
    opacity: 100%;
    transition: .2s;
    /* color: red; */
}

.turn_tile {
    position: relative;
    margin: 0 auto;
    width: 20%;
    border: 3px solid white;
    border-radius: 10px;
}


.turn_tile:hover {
    position: relative;
    margin: 0 auto;
    width: 20%;
    border: 3px solid white;
    border-radius: 10px;
    transform: rotate(180deg);
}

.more_info {
    font-size: 2vw;
    background-color: rgb(98, 98, 98);
    top: 5vw;
    left: 25%;
    width: 50%;
    padding: .5vw;
    z-index: 1000000;
    position: absolute;
    /* bottom:0px; */
    /* transition: 3s; */
    border-radius: 0 0 20px 20px;
    color: white;
    /* justify-content: center;
    align-content: center;
    flex-direction: column; */

}


.left_right_wrapper {
    display: flex;
    flex-direction: row;
}

.left_container {
    position: relative;
    /* left:-40vw; */
    margin-left: -3.5vw;
    text-align: left;
    width: 100%;
    z-index: 1010;

    /* transition: 1s; */
}

/* .left_container_after {
    position: relative;
    left:10vw;
    text-align: left;
    width: 100%;
    transition: 1s;
    z-index: 100000
} */

.right_container {
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px linear
}

.canvas {
    position: absolute;
    z-index: 999;
    background-color: transparent;
    fill: transparent;
    color: rgb(31, 143, 156);
    left: 0;
    top: 0;
    /* height: 100%; */
    pointer-events: none;
    z-index: 1;

}

.vc {

    position: relative;
    z-index: 1010;

}

.blocker {
    position: absolute;
    bottom: -10vw;
    z-index: .5;
    height: 30vw;
    width: 100%;
    background-color: rgb(20, 23, 41);
    border: 10px solid black;

}

.learned_container {
    width: 100%;
    position: relative;
    /* height: 20vw; */
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    padding: 5vw;
    transition: 2s;
}

.learned_left {
    position: relative;
    left: 0vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.learned_right {
    position: relative;

    width: 100%;
    display: flex;
    flex-direction: column;
}

.course_box {
    border: 5px solid black;
    width: 100%;
    padding: 2vw;
    transition: 2s;
    z-index: 1;
    border-bottom: none;
    border-radius: 10px 0 0 10px;
}

.course_box:hover {
    /* background-color: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.527)); */
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(14, 43, 80, 1));
    transition: 3s;

}


.details_box {
    border: 5px solid black;
    width: 100%;
    height: 30vw;
    border-left: none;
    background-color: rgb(14, 43, 80);

}


.corner_border_top_left {
    position: absolute;
    top: -5vw;
    left: -3vw;
    height: 0;
    width: 0;
    border: 0px solid white;
    transition: 2s ease-in;
}

.corner_border_top_right {
    position: absolute;
    top: -5vw;
    left: -3vw;
    height: 0;
    width: 0;
    border: 0px solid white;
    transition: 2s ease-in;
}

.corner_border_bottom_left {
    position: absolute;
    bottom: -5vw;
    right: -3vw;
    height: 0;
    width: 0;
    border: 0px solid white;
    transition: 2s ease-in;
}

.corner_border_bottom_right {
    position: absolute;
    bottom: -5vw;
    right: -3vw;
    height: 0;

    width: 0;
    border: 0px solid white;
    transition: 2s ease-in;
}




.corner_border_top_left_stage1 {
    position: absolute;
    top: -5vw;
    left: -3vw;
    height: 30%;
    width: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    z-index: 200;

    transition: 3s ease-out;
}

.corner_border_top_right_stage1 {
    top: -5vw;
    left: -3vw;
    position: absolute;

    height: 5px;
    width: 30%;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    z-index: 200;

    transition: 3s ease-out;
}

.corner_border_bottom_left_stage1 {
    position: absolute;
    bottom: -5vw;
    right: -3vw;
    height: 30%;

    width: 5px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    z-index: 200;

    transition: 3s ease-out;
}


.corner_border_bottom_right_stage1 {
    position: absolute;
    bottom: -5vw;
    right: -3vw;
    height: 5px;

    width: 30%;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    transition: 3s ease-out;
    z-index: 200;
}



.project_container_left {
    position: relative;
    display: flex;
    flex-direction: row;

}

.project_image_left {
    position: relative;
    width: 50%;
    height: auto;
    border-radius: 10px;
    /* z-index:1; */
}

.project_image_blocker_left {
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 187, 224, 0.328);
    /* z-index: 1; */
    transition: .5s;

}

.project_image_blocker_left:hover {
    background-color: rgba(64, 136, 6, 0);
    transition: .5s;
}

.project_details_wrapper_left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0;
    width: 60%;
    height: 100%;
    z-index: 20;


}

.project_header_left {
    position: relative;
    /* left: 60%; */
    width: 100%;
    text-align: right;
    color: rgb(0, 187, 224);
    z-index: 50;

}

.project_details_left {
    position: relative;
    background-color: rgb(20, 23, 41);
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.31);
    /* border:    3px solid rgb(0, 187, 224); */

    /* width: 60%; */
    /* left: 50%; */
}

.project_technicals_left {
    position: relative;

    /* right: 0px; */
    width: 80%;
    left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}





.project_container_right {
    position: relative;
    display: flex;
    flex-direction: row;

}

.project_image_right {
    position: relative;
    width: 50%;
    left: 50%;
    height: auto;
    border-radius: 10px;
    /* z-index:1; */
}

.project_image_blocker_right {
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 187, 224, 0.328);
    /* z-index: 1; */
    transition: .5s;

}

.project_image_blocker_right:hover {
    background-color: rgba(64, 136, 6, 0);
    transition: .5s;
}

.project_details_wrapper_right {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    width: 60%;
    height: 100%;
    z-index: 20;

}

.project_header_right {
    position: relative;
    width: 100%;
    text-align: left;
    color: rgb(0, 187, 224);
    z-index: 50;

}

.project_details_right {
    position: relative;
    background-color: rgb(20, 23, 41);
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.31);
    /* border:    3px solid rgb(0, 187, 224); */

    /* width: 60%; */
    /* left: 50%; */
}

.project_technicals_right {
    position: relative;
    width: 80%;
    right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.section_header_wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: left;
}

.section_header_line {
    position: relative;
    margin-left: 3vw;
    width: 60%;
    height: 1px;
    background-color: white;
    margin: 1vw;
    bottom: -1.5vw;
    z-index: 10;
}