.master{
    background-color: black;
    color: white;
    position:static;
}

.pre {
    position:static;
}

.image {
    width: 120%;
    height: auto;
    z-index: 0;
    position: relative;
    left: 0;
    /* top: -7vh; */
    /* height: auto; */
    /* width: auto; */
    top: -10vw;
    /* margin-top: -4em; */
    margin-bottom: -20vw;
}

.video {
    z-index: 1;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    /* top: -7vh; */
    /* height: auto; */
    /* width: auto; */
    margin-top: -4em;
    margin-bottom: -30px;
    bottom: auto;
}

.image_text {
    z-index: 100;
    width: 35%;
    position: absolute ;
    font-size: 3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: calc(100% - 35%);
    padding: 5px;
    color: black;
    top: 1em;
}

.image_text_center {
    z-index: 100;
    width: 80%;
    position: absolute;
    left: 10%;
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    /* top: 10%; */
    font-weight: 520;
    /* left: 50%; */
    padding: 5px;
    color: white;
    top: 5em;
    /* top: 500px; */
}

.text_left {
    z-index: 100;
    width: 45%;
    position:relative;
    font-size:3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: 10%;
    padding: 5px;
    color: white;
}


.text_right {
    z-index: 100;
    width: 35%;
    position:relative;
    font-size: 3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: calc(100% - 40%);
    padding: 5px;
    color: white;
}

.text_center {
    z-index: 100;
    width: 35%;
    position:relative;
    font-size: 3vw;
    text-align: left;
    /* top: 10%; */
    font-weight: 520;
    left: calc(100% - 40%);
    padding: 5px;
    color: white;
}



.box{
    background-color:#eb5c00;

    width: 100%;
    /* height: 300px; */
    /* height:10000; */
    /* position:static; */
    z-index: 10000;
}

.button_left {
    text-align: left !important;
}


.list{
    text-align: left;
    padding: 5%;
    display: inline-flex;
    max-width: 50%;
    font-size: 2vw;
}


.ind_list{
    max-width: 50%;
    text-align: left;
    padding: 5%;
    font-size: 2vw;
}

.caro{
    justify-content: left !important;
}


.hov_catch :hover{
    opacity: 65% !important;
    /* box-shadow: 8px 8px 8px 8px rgb(119, 119, 119), 0 6px 6px 0 rgb(110, 110, 110); */
    box-shadow: 0 0 20px rgb(255, 255, 255)
}

.app_module_center {
    position: absolute;
    z-index:400;
    /* top: 30%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 15vw;
    border-radius: 10px;
    overflow: hidden;
    opacity: 100% !important;
    box-shadow: none;


}

.app_module_center :hover {
    opacity: 100% !important;
    box-shadow: none;
}


.app_module_center_title {
    position: sticky;
    z-index: 500;
    color:black;
    font-size: 4vw;
    top: 30%;
    justify-content: center;
    opacity: 100% !important;
    box-shadow: none;

    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 50vw;
    height: 15vw; */
    /* border-radius: 10px;
    overflow: hidden; */
}

.app_module_center_title :hover {
    opacity: 100% !important;
    box-shadow: none !important;

}


.video_button {
    z-index: 100;
    margin-top: -4em;
    margin-bottom: -30px;
    /* bottom: auto; */
    opacity: 100% !important;
    box-shadow: none;
}

.app_module_center_wrapper {
    position: absolute;
    z-index:450;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 15vw;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0%;
    background-color: black !important;
    box-shadow: none;
}


.app_module_center_wrapper  :hover {
    /* background-color: #eb5c00; */
    /* fill: black;
    z-index: 410; */
    opacity: 20%;
    /* box-shadow: 0 8px 16px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255); */

    transition: .1s;
}


/* .app_module_center_title  :hover {
    opacity: 100% !important;
    transition: .1s;
} */


/* .hover_catch{
    opacity: 100% !important;
}

.hover_catch :hover{
    opacity: 40% !important;
    box-shadow: outset 100px 100px 100px 100px white;
    transition: .1s;
} */

.jobs {
    position: absolute;
    z-index:400;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 15vw;
    border-radius: 10px;
    overflow: hidden;
    opacity: 100% !important;
    box-shadow: none;
}


.logo {
    width: 100%;
    height: auto;
    z-index: 0;
    position: absolute;
    left: 0;
    /* transform: translate(-50%, -50%); */
    /* top: -7vh; */
    /* height: auto; */
    /* width: auto; */
    /* margin-top: -5.5em;
    margin-bottom: -5em; */
}

/*
.contact_wrapper {
    transition: 1s;
} */

.contact_element {
    font-size: 4vw;
    transition: .2s;
    opacity: 80%;
    border: 3px white;
}

.contact_element:hover {
    /* font-size: 5vw; */
    opacity: 100%;
    transition: .2s;
    /* color: red; */
}
