.btn {
    display: block;
    margin: 100px 0;
    background-color: #00A4BD;
   color: #FFFFFF;
 }

 .form {
    display: block;
    margin: 100px 0;
    background-color: #00A4BD;
    color: #ff0404;
 }
